    <a href="/profile">Profile</a>
    
    <h2>Welcome to {{title}}</h2>
    <h1>Welcome, {{user.id}}!</h1>
    <h1>Welcome, {{user.name}}!</h1>
    <h1>Welcome, {{user.email}}!</h1>
    <img src="{{user.image}}" alt="{{user.name}}" style="max-width: 150px;">