<style>
    li {
        list-style: none;
    }
</style>

<h1>Here is all posts</h1>
{{title}}
<a href="/dashboard">Go to Dashboard</a>
{{> writersNavs}}

<h1>Posts</h1>
{{#each results}}
    <div style="margin-left: 1rem;">
        <li>Title: {{this.title}}</li>
        <li>Description: {{this.description}}</li>
        <li>By: {{this.writerId.username}}</li>
        <li><a href="http://">View post{{this._id}}</a></li>
    </div><br>
{{/each}}

{{!-- Footer --}}
<div>{{> footer}}</div>